version: '3.9'

services:
  db:
    image: postgres:16
    container_name: portfolio_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: portfolio_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - portfolio_net

networks:
  portfolio_net:
    driver: bridge

volumes:
  postgres_data:
